@model IEnumerable<MvcEfCore.Models.SanBay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Share/_AdminLayout.cshtml";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanBayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanBay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanBayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanBay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SanBayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SanBayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SanBayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
