@model MvcEfCore.Models.PhieuDatCho

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Share/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhieuDatCho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HangVe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HangVe.HangID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhachHang.KhachHangID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LichChuyenBay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LichChuyenBay.ChuyenBayID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PhieuDatChoID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
