@model IEnumerable<MvcEfCore.Models.PhieuDatCho>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Share/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichChuyenBay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangVe.HangID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.KhachHangID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichChuyenBay.ChuyenBayID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhieuDatChoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhieuDatChoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhieuDatChoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
