@model MvcEfCore.Models.HangVe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Share/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HangVe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiLeGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TiLeGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HangID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
